/* CSS Document */
  
form, p, span {
    margin:0;
    padding:0; 
}
  
input { 
    font:12px arial; 
}
  
#loginform { 
    padding-top:18px; 
}
#loginform p { 
    margin: 5px; 
}
  
#chatbox {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #acd8f0;
  height: 270px;
  margin: 0 auto 25px;
  overflow: auto;
  padding: 10px;
  text-align: left;
  width: 100%;
}
  
#usermsg {
  border: 1px solid #acd8f0;
  width: 70%;
}

.btn-primary2 {
  background-color: #CD3F39;
  border-color: #fff;
  color: #fff;
  opacity: 0.8;
}
.btn-primary2:hover {
opacity: 1;
color:#fff!important;
}
  
#submit { 
    width: 60px; 
}
  
.error { 
    olor: #ff0000; 
}
  
.welcome { 
    float:left; 
}
  
.logout { 
    float:right; 
}
  
.msgln { 
    margin:0 0 2px 0; 
}